# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
tls/src/main/resources/cert/ca.cert
tls/src/main/resources/cert/ca.key
tls/src/main/resources/cert/ca.srl
tls/src/main/resources/cert/private.csr
tls/src/main/resources/cert/private.key